---
import { client } from "../lib/sanity";
import groq from "groq";
import Layout from "../layouts/Layout.astro";

const microsites: {title: string; slug: {current: string}}[] = await client.fetch(
  groq`*[_type == "microsite" && defined(slug.current)]|order(title asc){ title, slug }`
);
---

<Layout title="Microsites" description="Browse all microsites">
  <h1>Microsites</h1>
  <ul>
    {microsites.map((m) => (
      <li><a href={`${m.slug.current}`}>{m.title}</a></li>
    ))}
  </ul>
</Layout>
